# Wykluczenia dla JakNieDojadę (GitHub Pages)

# Foldery źródłowe apki (BARDZO WAŻNE - NIE PUBLIKOWAĆ!)
lib/
android/
ios/
test/
linux/
macos/
windows/
web/
.dart_tool/
.idea/
.vscode/

# Buildy i śmieci
build/
node_modules/
functions/
server_debug.log
.dev.vars
.flutter-plugins-dependencies
.metadata
pubspec.lock
analysis_options.yaml
jakniedojade.iml
*.apk
!JakNieDojade_Final.apk

# Niepotrzebne pliki serwera
server.js
package.json
package-lock.json
pubspec.yaml
